@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1c163a;
  --foreground: #1c163a;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: "Rational TW";
  src: url("/fonts/RationalTW-Book.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
